body {
  background-image: url("./inazuma.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  color:white;

}

.App {

}

.page-container {

  display: flex;
  width: 70%; 
  height: 100vh;
  justify-content: center;
  margin: 0 auto; 
  
}


.left-content, .right-content {
  flex: 1; 
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #121418;
  border-style:ridge;
  border-color:#a68d55;
  
}

.left-content {
  margin-left:5%;
  margin-right:2.5%;
  width:50%
}

.right-content {
  width:50%;
  margin-right:5%;
  margin-left:2.5%;
}

.header {
  background-color: #a68d55;
  text-align: center;
  font-size:x-large;

}

.character-grid {

  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr)); 
  gap: 10px;
  overflow-y: auto; 
  max-height: 70vh;
 
  

  border-style:ridge;
  border-color:#a68d55;
}

.result-grid-container {
  overflow-y: auto; 
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  
  background-image: url('./black.jpg');
  background-size: cover; 
  background-position: center; 
  border-style:ridge;
  border-color:#a68d55;
}

.result-grid img {
  max-width: 100%;
  height: auto; 
}

.character-grid img {
  max-width: 100%;
  height: auto; 
}

.buttonRow {
  display:flex;
}

.delete-team-button {
  margin: 4px 2px;
  background-color: rgb(150, 23, 23);
  color:white;
}

.instructions {
  align-self: flex-start;
}

.fancyButton {
  background-color: #a68d55;
  border: none;
  color: white;
  
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition: box-shadow 0.2s ease, transform 0.2s ease; 
  box-shadow: 0 2px #666; 
  

}

.character {
  box-sizing: border-box;
}

/*.left-area-components {
  margin-left: 5vh;
}*/

.fancyButton:active {
  box-shadow: 0 1px #666; 
  transform: translateY(4px); 
}





.button {
  padding: 10px;
  margin: 5px;
  border: 2px solid transparent;
  background-color: #a68d55;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pressed {
  background-color: #726548; 
  border-color: #aaa; 
  transform: translateY(2px); 
}



